*{
    box-sizing: border-box;
}
body {
    background-color: rgb(35, 105, 192);
}
header {
    background-color: blanchedalmond;
    align-content: center;
}
#form {
    justify-content: center;
    border-radius: 5px;
}
#list-group {
    color: aliceblue;
}